*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;

}
html{
    font-size: 100%;
}
body{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    color: black;
    background-color: #F0F7F6;
}
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
/* Reset */

#graphTitle{
    color: #339933;
}

#title {
    color: #FE6902;

}

#title {
    color: #FE6902;
}
